body {
    margin: 0 auto;
    max-width: 50em;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

#picture {
    margin-top: 25px;
    width: 500px;
    height: 500px;
}

#header {
    margin-top: 10px;
}

h3 {
    font-size: 40px;
    margin-bottom: 0;
}

#music {
    display: inherit;
    margin: 0 auto;
    padding-top: 9%;
}